
.menu, .menu li {
  margin: 0;
  padding: 0;
}
.menu, #submenu{
  background: rgb(46,95,122);
}
.menu > li {
  display: inline-block;
  width: 25%; /* 4 пункта меню, то есть 100%/4 */
  text-align: center;
}
.menu a {
  display: block;
  padding: 3px 0;
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  background: rgb(96,145,172);
}
#p_menu {
    position: relative;

}
#submenu {
    position: absolute;
    top:20px;
    width: 100%;
    display: none;

}
#img {
  text-align: center;
  width:800px;
  height: 400px;
  position: relative;
  top: 50px;
   overflow: hidden;
   left: 20%;
}
#left_button {
  position: absolute;
  top:250px;
  cursor:pointer;
}
#right_button {
  position: absolute;
  top:250px;
  right: 0px;
  cursor:pointer;
}
#slider-nav {
    position: absolute;
    bottom:150px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
#slider-nav a {
    width: 8px;
    height: 8px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fafafa;
}
#slider-nav a.current {
    background-color: #337ab7;
}